patterns:
  builtin:
    solid: true
    repeater: true
    radar: true
    ladder: true
    low_serial: true
    binary: true
    star_note: true
    trinary: true
    true_trinary: true
    quadrinary: false
    true_quadrinary: true
    quinary: false
    all_evens: true
    all_odds: true
    binary_radar: true
    alternator: true
    ladder_7: true
    ladder_6: true
    ladder_5: true
    ladder_4: true
    full_house: true
    two_pair_triple: true
    triple_double_double: true
    consecutive_triples: true
    double_quads_sequential: true
    pyramid_ladder: true
    counting_ladder: true
    step_ladder: false
    chunky_ladder: true
    super_ladder: true
    counting_2s: true
    counting_3s: true
    counting_4s: true
    counting_5s: true
    counting_6s: true
    counting_7s: true
    counting_8s: true
    counting_9s: true
    magic_sum: true
    flipper: true
    true_flipper: true
    near_flipper: false
    broken_radar: true
    sequential_trinary: true
    double_bookend: true
    radar_repeater: true
    birthday: false
    four_pairs: true
    three_pairs: true
    ultra_low_serial: true
    super_radar: true
    binary_repeater: true
    doubles_ladder: true
    ladder_and_quad: true
crops:
  front:
    seal:
      x: 0.605
      y: 0.233
      w: 0.254
      h: 0.537
      description: Treasury seal (green circle)
    full:
      x: 0.0
      y: 0.0
      w: 1.0
      h: 1.0
      description: Full front image
    left:
      x: 0.0
      y: 0.0
      w: 0.384
      h: 1.0
      description: Left third of bill
    center:
      x: 0.354
      y: 0.0
      w: 0.322
      h: 1.0
      description: Center third of bill
    right:
      x: 0.627
      y: 0.0
      w: 0.373
      h: 1.0
      description: Right third of bill
  back:
    seal:
      x: 0.635
      y: 0.221
      w: 0.261
      h: 0.557
      description: Back seal/emblem area
    full:
      x: 0.0
      y: 0.0
      w: 1.0
      h: 1.0
      description: Full back image
    left:
      x: 0.0
      y: 0.0
      w: 0.384
      h: 1.0
      description: Left third of bill
    center:
      x: 0.354
      y: 0.0
      w: 0.322
      h: 1.0
      description: Center third of bill
    right:
      x: 0.627
      y: 0.0
      w: 0.373
      h: 1.0
      description: Right third of bill
crop_order:
- - front
  - seal
- - front
  - full
- - back
  - full
- - front
  - left
- - front
  - center
- - front
  - right
- - back
  - left
- - back
  - center
- - back
  - right
- - back
  - seal
options:
  jpeg_quality: 95
  min_confidence: 0.0
  star_notes_always_fancy: true
yolo_crops:
  padding:
    seal_h: 0.03
    seal_v: 0.08
    thirds_overlap: 0.03
  front_seal:
    min_width: 500
    min_height: 500
    offset_x: 0
    offset_y: 0
  back_seal:
    width: 500
    height: 500
    offset_x: -25
    offset_y: -50
  fallback_on_missing: true
